<div class="bg-light p-5 mb-4 rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Contact List</h1>
    <p class="col-md-8 fs-4">Gerencie seus contatos em qualquer lugar!</p>
    <p>
      <%= link_to 'Crie Sua Conta', '#', class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
