<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">
      Ops! Encontramos <%= pluralize(object.errors.count, 'erro', 'erros') %>:
    </h4>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
